# Precompiled versions (avoid source build)
numpy
scipy
scikit-learn
faiss-cpu
groq
# Core Dependencies
openai
langchain
langchain-community
pandas
python-dotenv
tiktoken
sentence-transformers


# Chatbot, Web, and Backend
streamlit
flask
fastapi
twilio
pyyaml

# Audio + Voice I/O
SpeechRecognition
pydub
pygame
gTTS

# QR Code + Image
qrcode
Pillow

# Charts & UI
plotly

# Payments
stripe

# Other utilities
joblib
requests
